.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 240px;
    padding: 10px 20px;
    color: white;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 30px;
    border-radius: 15px;
    background: linear-gradient(45deg, #6f36ab, #2575fc);
    font-size: 20px;
    cursor: pointer;
    transition: 0.20s;
}

.nav-connect:hover {
    transform: scale(1.05);
}