*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Gill Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  background: linear-gradient(180deg, #333 40%, #4472f0);
  line-height: 1.6;
}